@charset "UTF-8";
/**
 * ! Color
*/
// ? Primary
$primary : #79CE67;
// ? Secondary_B2B
$navy : #00325D;
$darkGreen : #007364;
// ? Secondary_B2C
$yellow : #F6C914;
$faleYellow : #FEEEB3;

// temp
$black : #1C1C1C;
$gray : #8D8D8D;
$gray2 : #B8B8B8;
$gray3 : #ddd;
$white : #fff;
$lightGray: #ddd;
$lightGray2: #eee;
$lightGray3: #f9f9f9;
$blue : #2287FF;
$darkBlue : #003686;
$green: #1BC98D;


/**
 * ! Font
*/
$fontFamily : 'Red Hat Display',
'Roboto',
'Poppins',
'Pretendard',
'Noto Sans KR',
'맑은 고딕',
'Malgun Gothic',
'굴림';