@charset "UTF-8";
// Color
// @type Color
$color: #363636;
$color--point: #003686;
$color--gray: #dedede;
$color--gray2 : #F6F5FA;
$color--gray3 : #9e9e9e;
$color--secondary: #00c73c;
$color--disabled: #666;
$color--white: #ffffff;
$color--sub: #8D6E26;
// Font
// @type Font
$fontFamily:'Pretendard','Noto Sans KR','맑은 고딕','Malgun Gothic','굴림';

