/* 컬러 */
.color-box {float:left}
.color-previw {position:relative;width:40%;float:right}
.color-preview__box {height:600px;background:transparent;transition: all 0.5s ease-in-out;background-color:#dedede;opacity:0.6}
.color-preview__text {position:absolute;left:0;top:90px;width:100%;height:60px;padding:20px;font-size:20px;font-weight:bold;background-color:#dedede;opacity:1}
.color-preview__text > span {mix-blend-mode:difference;color:#aaa}
.color-box span {display:inline-block;width:30px;height:30px;background-color:transparent}
.color-box__red .num01 {background-color:var(--red01)}
.color-box__red .num02 {background-color:var(--red02)}
.color-box__red .num03 {background-color:var(--red03)}
.color-box__red .num04 {background-color:var(--red04)}
.color-box__red .num05 {background-color:var(--red05)}
.color-box__red .num06 {background-color:var(--red06)}
.color-box__red .num07 {background-color:var(--red07)}
.color-box__red .num08 {background-color:var(--red08)}
.color-box__red .num09 {background-color:var(--red09)}
.color-box__red .num10 {background-color:var(--red10)}
.color-box__red .num11 {background-color:var(--red11)}
.color-box__red .num12 {background-color:var(--red12)}
.color-box__red .num13 {background-color:var(--red13)}
.color-box__red .num14 {background-color:var(--red14)}
.color-box__pink .num01 {background-color:var(--pink01)}
.color-box__pink .num02 {background-color:var(--pink02)}
.color-box__pink .num03 {background-color:var(--pink03)}
.color-box__pink .num04 {background-color:var(--pink04)}
.color-box__pink .num05 {background-color:var(--pink05)}
.color-box__pink .num06 {background-color:var(--pink06)}
.color-box__pink .num07 {background-color:var(--pink07)}
.color-box__pink .num08 {background-color:var(--pink08)}
.color-box__pink .num09 {background-color:var(--pink09)}
.color-box__pink .num10 {background-color:var(--pink10)}
.color-box__pink .num11 {background-color:var(--pink11)}
.color-box__pink .num12 {background-color:var(--pink12)}
.color-box__pink .num13 {background-color:var(--pink13)}
.color-box__pink .num14 {background-color:var(--pink14)}
.color-box__purple .num01 {background-color:var(--purple01)}
.color-box__purple .num02 {background-color:var(--purple02)}
.color-box__purple .num03 {background-color:var(--purple03)}
.color-box__purple .num04 {background-color:var(--purple04)}
.color-box__purple .num05 {background-color:var(--purple05)}
.color-box__purple .num06 {background-color:var(--purple06)}
.color-box__purple .num07 {background-color:var(--purple07)}
.color-box__purple .num08 {background-color:var(--purple08)}
.color-box__purple .num09 {background-color:var(--purple09)}
.color-box__purple .num10 {background-color:var(--purple10)}
.color-box__purple .num11 {background-color:var(--purple11)}
.color-box__purple .num12 {background-color:var(--purple12)}
.color-box__purple .num13 {background-color:var(--purple13)}
.color-box__purple .num14 {background-color:var(--purple14)}
.color-box__deepPurple .num01 {background-color:var(--deepPurple01)}
.color-box__deepPurple .num02 {background-color:var(--deepPurple02)}
.color-box__deepPurple .num03 {background-color:var(--deepPurple03)}
.color-box__deepPurple .num04 {background-color:var(--deepPurple04)}
.color-box__deepPurple .num05 {background-color:var(--deepPurple05)}
.color-box__deepPurple .num06 {background-color:var(--deepPurple06)}
.color-box__deepPurple .num07 {background-color:var(--deepPurple07)}
.color-box__deepPurple .num08 {background-color:var(--deepPurple08)}
.color-box__deepPurple .num09 {background-color:var(--deepPurple09)}
.color-box__deepPurple .num10 {background-color:var(--deepPurple10)}
.color-box__deepPurple .num11 {background-color:var(--deepPurple11)}
.color-box__deepPurple .num12 {background-color:var(--deepPurple12)}
.color-box__deepPurple .num13 {background-color:var(--deepPurple13)}
.color-box__deepPurple .num14 {background-color:var(--deepPurple14)}
.color-box__indigo .num01 {background-color:var(--indigo01)}
.color-box__indigo .num02 {background-color:var(--indigo02)}
.color-box__indigo .num03 {background-color:var(--indigo03)}
.color-box__indigo .num04 {background-color:var(--indigo04)}
.color-box__indigo .num05 {background-color:var(--indigo05)}
.color-box__indigo .num06 {background-color:var(--indigo06)}
.color-box__indigo .num07 {background-color:var(--indigo07)}
.color-box__indigo .num08 {background-color:var(--indigo08)}
.color-box__indigo .num09 {background-color:var(--indigo09)}
.color-box__indigo .num10 {background-color:var(--indigo10)}
.color-box__indigo .num11 {background-color:var(--indigo11)}
.color-box__indigo .num12 {background-color:var(--indigo12)}
.color-box__indigo .num13 {background-color:var(--indigo13)}
.color-box__indigo .num14 {background-color:var(--indigo14)}
.color-box__blue .num01 {background-color:var(--blue01)}
.color-box__blue .num02 {background-color:var(--blue02)}
.color-box__blue .num03 {background-color:var(--blue03)}
.color-box__blue .num04 {background-color:var(--blue04)}
.color-box__blue .num05 {background-color:var(--blue05)}
.color-box__blue .num06 {background-color:var(--blue06)}
.color-box__blue .num07 {background-color:var(--blue07)}
.color-box__blue .num08 {background-color:var(--blue08)}
.color-box__blue .num09 {background-color:var(--blue09)}
.color-box__blue .num10 {background-color:var(--blue10)}
.color-box__blue .num11 {background-color:var(--blue11)}
.color-box__blue .num12 {background-color:var(--blue12)}
.color-box__blue .num13 {background-color:var(--blue13)}
.color-box__blue .num14 {background-color:var(--blue14)}
.color-box__lightBlue .num01 {background-color:var(--lightBlue01)}
.color-box__lightBlue .num02 {background-color:var(--lightBlue02)}
.color-box__lightBlue .num03 {background-color:var(--lightBlue03)}
.color-box__lightBlue .num04 {background-color:var(--lightBlue04)}
.color-box__lightBlue .num05 {background-color:var(--lightBlue05)}
.color-box__lightBlue .num06 {background-color:var(--lightBlue06)}
.color-box__lightBlue .num07 {background-color:var(--lightBlue07)}
.color-box__lightBlue .num08 {background-color:var(--lightBlue08)}
.color-box__lightBlue .num09 {background-color:var(--lightBlue09)}
.color-box__lightBlue .num10 {background-color:var(--lightBlue10)}
.color-box__lightBlue .num11 {background-color:var(--lightBlue11)}
.color-box__lightBlue .num12 {background-color:var(--lightBlue12)}
.color-box__lightBlue .num13 {background-color:var(--lightBlue13)}
.color-box__lightBlue .num14 {background-color:var(--lightBlue14)}
.color-box__cyan .num01 {background-color:var(--cyan01)}
.color-box__cyan .num02 {background-color:var(--cyan02)}
.color-box__cyan .num03 {background-color:var(--cyan03)}
.color-box__cyan .num04 {background-color:var(--cyan04)}
.color-box__cyan .num05 {background-color:var(--cyan05)}
.color-box__cyan .num06 {background-color:var(--cyan06)}
.color-box__cyan .num07 {background-color:var(--cyan07)}
.color-box__cyan .num08 {background-color:var(--cyan08)}
.color-box__cyan .num09 {background-color:var(--cyan09)}
.color-box__cyan .num10 {background-color:var(--cyan10)}
.color-box__cyan .num11 {background-color:var(--cyan11)}
.color-box__cyan .num12 {background-color:var(--cyan12)}
.color-box__cyan .num13 {background-color:var(--cyan13)}
.color-box__cyan .num14 {background-color:var(--cyan14)}
.color-box__teal .num01 {background-color:var(--teal01)}
.color-box__teal .num02 {background-color:var(--teal02)}
.color-box__teal .num03 {background-color:var(--teal03)}
.color-box__teal .num04 {background-color:var(--teal04)}
.color-box__teal .num05 {background-color:var(--teal05)}
.color-box__teal .num06 {background-color:var(--teal06)}
.color-box__teal .num07 {background-color:var(--teal07)}
.color-box__teal .num08 {background-color:var(--teal08)}
.color-box__teal .num09 {background-color:var(--teal09)}
.color-box__teal .num10 {background-color:var(--teal10)}
.color-box__teal .num11 {background-color:var(--teal11)}
.color-box__teal .num12 {background-color:var(--teal12)}
.color-box__teal .num13 {background-color:var(--teal13)}
.color-box__teal .num14 {background-color:var(--teal14)}
.color-box__green .num01 {background-color:var(--green01)}
.color-box__green .num02 {background-color:var(--green02)}
.color-box__green .num03 {background-color:var(--green03)}
.color-box__green .num04 {background-color:var(--green04)}
.color-box__green .num05 {background-color:var(--green05)}
.color-box__green .num06 {background-color:var(--green06)}
.color-box__green .num07 {background-color:var(--green07)}
.color-box__green .num08 {background-color:var(--green08)}
.color-box__green .num09 {background-color:var(--green09)}
.color-box__green .num10 {background-color:var(--green10)}
.color-box__green .num11 {background-color:var(--green11)}
.color-box__green .num12 {background-color:var(--green12)}
.color-box__green .num13 {background-color:var(--green13)}
.color-box__green .num14 {background-color:var(--green14)}
.color-box__lightGreen .num01 {background-color:var(--lightGreen01)}
.color-box__lightGreen .num02 {background-color:var(--lightGreen02)}
.color-box__lightGreen .num03 {background-color:var(--lightGreen03)}
.color-box__lightGreen .num04 {background-color:var(--lightGreen04)}
.color-box__lightGreen .num05 {background-color:var(--lightGreen05)}
.color-box__lightGreen .num06 {background-color:var(--lightGreen06)}
.color-box__lightGreen .num07 {background-color:var(--lightGreen07)}
.color-box__lightGreen .num08 {background-color:var(--lightGreen08)}
.color-box__lightGreen .num09 {background-color:var(--lightGreen09)}
.color-box__lightGreen .num10 {background-color:var(--lightGreen10)}
.color-box__lightGreen .num11 {background-color:var(--lightGreen11)}
.color-box__lightGreen .num12 {background-color:var(--lightGreen12)}
.color-box__lightGreen .num13 {background-color:var(--lightGreen13)}
.color-box__lightGreen .num14 {background-color:var(--lightGreen14)}
.color-box__lime .num01 {background-color:var(--lime01)}
.color-box__lime .num02 {background-color:var(--lime02)}
.color-box__lime .num03 {background-color:var(--lime03)}
.color-box__lime .num04 {background-color:var(--lime04)}
.color-box__lime .num05 {background-color:var(--lime05)}
.color-box__lime .num06 {background-color:var(--lime06)}
.color-box__lime .num07 {background-color:var(--lime07)}
.color-box__lime .num08 {background-color:var(--lime08)}
.color-box__lime .num09 {background-color:var(--lime09)}
.color-box__lime .num10 {background-color:var(--lime10)}
.color-box__lime .num11 {background-color:var(--lime11)}
.color-box__lime .num12 {background-color:var(--lime12)}
.color-box__lime .num13 {background-color:var(--lime13)}
.color-box__lime .num14 {background-color:var(--lime14)}        
.color-box__yellow .num01 {background-color:var(--yellow01)}
.color-box__yellow .num02 {background-color:var(--yellow02)}
.color-box__yellow .num03 {background-color:var(--yellow03)}
.color-box__yellow .num04 {background-color:var(--yellow04)}
.color-box__yellow .num05 {background-color:var(--yellow05)}
.color-box__yellow .num06 {background-color:var(--yellow06)}
.color-box__yellow .num07 {background-color:var(--yellow07)}
.color-box__yellow .num08 {background-color:var(--yellow08)}
.color-box__yellow .num09 {background-color:var(--yellow09)}
.color-box__yellow .num10 {background-color:var(--yellow10)}
.color-box__yellow .num11 {background-color:var(--yellow11)}
.color-box__yellow .num12 {background-color:var(--yellow12)}
.color-box__yellow .num13 {background-color:var(--yellow13)}
.color-box__yellow .num14 {background-color:var(--yellow14)}
.color-box__amber .num01 {background-color:var(--amber01)}
.color-box__amber .num02 {background-color:var(--amber02)}
.color-box__amber .num03 {background-color:var(--amber03)}
.color-box__amber .num04 {background-color:var(--amber04)}
.color-box__amber .num05 {background-color:var(--amber05)}
.color-box__amber .num06 {background-color:var(--amber06)}
.color-box__amber .num07 {background-color:var(--amber07)}
.color-box__amber .num08 {background-color:var(--amber08)}
.color-box__amber .num09 {background-color:var(--amber09)}
.color-box__amber .num10 {background-color:var(--amber10)}
.color-box__amber .num11 {background-color:var(--amber11)}
.color-box__amber .num12 {background-color:var(--amber12)}
.color-box__amber .num13 {background-color:var(--amber13)}
.color-box__amber .num14 {background-color:var(--amber14)}
.color-box__orange .num01 {background-color:var(--orange01)}
.color-box__orange .num02 {background-color:var(--orange02)}
.color-box__orange .num03 {background-color:var(--orange03)}
.color-box__orange .num04 {background-color:var(--orange04)}
.color-box__orange .num05 {background-color:var(--orange05)}
.color-box__orange .num06 {background-color:var(--orange06)}
.color-box__orange .num07 {background-color:var(--orange07)}
.color-box__orange .num08 {background-color:var(--orange08)}
.color-box__orange .num09 {background-color:var(--orange09)}
.color-box__orange .num10 {background-color:var(--orange10)}
.color-box__orange .num11 {background-color:var(--orange11)}
.color-box__orange .num12 {background-color:var(--orange12)}
.color-box__orange .num13 {background-color:var(--orange13)}
.color-box__orange .num14 {background-color:var(--orange14)}
.color-box__deepOrange .num01 {background-color:var(--deepOrange01)}
.color-box__deepOrange .num02 {background-color:var(--deepOrange02)}
.color-box__deepOrange .num03 {background-color:var(--deepOrange03)}
.color-box__deepOrange .num04 {background-color:var(--deepOrange04)}
.color-box__deepOrange .num05 {background-color:var(--deepOrange05)}
.color-box__deepOrange .num06 {background-color:var(--deepOrange06)}
.color-box__deepOrange .num07 {background-color:var(--deepOrange07)}
.color-box__deepOrange .num08 {background-color:var(--deepOrange08)}
.color-box__deepOrange .num09 {background-color:var(--deepOrange09)}
.color-box__deepOrange .num10 {background-color:var(--deepOrange10)}
.color-box__deepOrange .num11 {background-color:var(--deepOrange11)}
.color-box__deepOrange .num12 {background-color:var(--deepOrange12)}
.color-box__deepOrange .num13 {background-color:var(--deepOrange13)}
.color-box__deepOrange .num14 {background-color:var(--deepOrange14)}
.color-box__brown .num01 {background-color:var(--brown01)}
.color-box__brown .num02 {background-color:var(--brown02)}
.color-box__brown .num03 {background-color:var(--brown03)}
.color-box__brown .num04 {background-color:var(--brown04)}
.color-box__brown .num05 {background-color:var(--brown05)}
.color-box__brown .num06 {background-color:var(--brown06)}
.color-box__brown .num07 {background-color:var(--brown07)}
.color-box__brown .num08 {background-color:var(--brown08)}
.color-box__brown .num09 {background-color:var(--brown09)}
.color-box__brown .num10 {background-color:var(--brown10)}
.color-box__brown .num11 {background-color:var(--brown11)}
.color-box__brown .num12 {background-color:var(--brown12)}
.color-box__brown .num13 {background-color:var(--brown13)}
.color-box__brown .num14 {background-color:var(--brown14)}
.color-box__grey .num01 {background-color:var(--grey01)}
.color-box__grey .num02 {background-color:var(--grey02)}
.color-box__grey .num03 {background-color:var(--grey03)}
.color-box__grey .num04 {background-color:var(--grey04)}
.color-box__grey .num05 {background-color:var(--grey05)}
.color-box__grey .num06 {background-color:var(--grey06)}
.color-box__grey .num07 {background-color:var(--grey07)}
.color-box__grey .num08 {background-color:var(--grey08)}
.color-box__grey .num09 {background-color:var(--grey09)}
.color-box__grey .num10 {background-color:var(--grey10)}
.color-box__grey .num11 {background-color:var(--grey11)}
.color-box__grey .num12 {background-color:var(--grey12)}
.color-box__grey .num13 {background-color:var(--grey13)}
.color-box__grey .num14 {background-color:var(--grey14)}
.color-box__blueGrey .num01 {background-color:var(--blueGrey01)}
.color-box__blueGrey .num02 {background-color:var(--blueGrey02)}
.color-box__blueGrey .num03 {background-color:var(--blueGrey03)}
.color-box__blueGrey .num04 {background-color:var(--blueGrey04)}
.color-box__blueGrey .num05 {background-color:var(--blueGrey05)}
.color-box__blueGrey .num06 {background-color:var(--blueGrey06)}
.color-box__blueGrey .num07 {background-color:var(--blueGrey07)}
.color-box__blueGrey .num08 {background-color:var(--blueGrey08)}
.color-box__blueGrey .num09 {background-color:var(--blueGrey09)}
.color-box__blueGrey .num10 {background-color:var(--blueGrey10)}
.color-box__blueGrey .num11 {background-color:var(--blueGrey11)}
.color-box__blueGrey .num12 {background-color:var(--blueGrey12)}
.color-box__blueGrey .num13 {background-color:var(--blueGrey13)}
.color-box__blueGrey .num14 {background-color:var(--blueGrey14)}