*{margin:0;padding:0;font-size:100%}
.mySwiper{overflow:hidden}
.swiper-wrapper{height:100vh}
.swiper__wrap{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);color:#fff;font-size:30px}
.swiper__descrtion{font-size:50px}
.swiper__한국어설명{font-size:68px;font-weight:bold}

@media screen and (max-width:750px) {
    .swiper__wrap{font-size:18px}
    .swiper__descrtion{font-size:20px}
    .swiper__한국어설명{font-size:22px}
}