body {background:darken(#fff, 10%)}
.wrap {max-width:800px;margin:0 auto}
.scroll_progress {position:fixed;top:0;left:0;width:0%;background:rgb(121, 11, 255);color:white;height:10px;transition:width .1s}